* {
    padding: 0;
    margin: 0;
    background-color: rgb(255, 255, 255);
}

.menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 5px;
    justify-content: space-evenly;
}

.menu a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: #ff5050
}

.text1 {
    font-family: rial, Helvetica, sans-serif;
    font-size: larger;
    color: #ff5050
}

.text2 {
    font-family: rial, Helvetica, sans-serif;
    font-size: larger;
    color: #ff5050
}

.text3 {
    font-family: rial, Helvetica, sans-serif;
    font-size: larger;
    color: #ff5050
}

.text4 {
    font-family: rial, Helvetica, sans-serif;
    font-size: larger;
    color: #ff5050
}

.header {
    display: grid;
    background-color: aquamarine;
    height: 10vh;
    grid-template-columns: 1fr 3fr;
}

.logo {
    margin: 1vh;
    height: 7vh;
}

.menu {
    background-color: aquamarine;
    margin: 3.2vh;
    grid-column-gap: 25px
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 45vh 45vh;
    align-content: stretch;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.cuadro1 {
    height: 25vh;
}

.cuadro2 {
    height: 25vh;
}

.cuadro3 {
    height: 25vh;
}

.cuadro4 {
    height: 25vh;
}

.footer {
    background-color: blueviolet;
    margin-top: 20px;

}
.out1{
    font-family: rial, Helvetica, sans-serif;
    font-size: larger;
    color: #ff5050
}
.footer{
    display: flex;
    height: 10vh;
    background-color: aquamarine;
}